[submodule "external/liborkh"]
	path = external/liborkh
	url =  https://github.com/Kassouley/liborkh.git
[submodule "external/lsgpu"]
	path = external/lsgpu
	url =  https://github.com/Kassouley/lsgpu.git
[submodule "external/RATELProf-Visualize"]
	path = external/RATELProf-Visualize
	url =  https://github.com/Kassouley/RATELProf-Visualize.git
