{
  "options": {
    "install_dir": "$HOME/.local",
    "check_symbol_quiet": true
  },

  "toolchain": {
    "CC": "AUTO",
    "CXX": "AUTO",
    "HIPCC": "/opt/rocm/bin/hipcc"
  },

  "features": {
    "hip_tracing": {
      "build": true,
      "include_dir": "/opt/rocm/include"
    },
    "hsa_tracing": {
      "build": true,
      "include_dir": "/opt/rocm/include"
    },
    "ompt_tracing": {
      "build": true,
      "include_dir": "/opt/rocm/llvm/include"
    },
    "omp_routine_tracing": {
      "build": true,
      "include_dir": "/opt/rocm/llvm/include"
    },
    "omp_tgt_rtl_tracing": {
      "build": true,
      "library": "/opt/rocm/llvm/lib/libomptarget.rtl.amdgpu.so"
    },
    "mpi_tracing": {
      "build": true,
      "include_dir": "AUTO"
    }
  },

  "plugins": {
    "stdout": false,
    "msgpack": true
  },
}
