#timelineStack { 
    margin: 10px;
    display: flex; 
    flex-direction: column;
}

.timeline-label {
    font-family: monospace;
    font-size: 13px;
    display: flex;
    white-space: pre;
    width: 100%;
}

.col-left {
    display: flex; 
    align-items: center; 
    gap: 7px;
    flex: 0 0 250px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.col-right {
    flex: 1 1 auto;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}


.preview-canvas{
    width: 100%;
    height: 40px;
}


.drag-handle {
    cursor: grab;
    user-select: none;
}


.collapse-arrow::before {
    content: '▾';
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
}

/* When collapsed, rotate the arrow */
.collapsed .collapse-arrow::before {
    content: '▸';
}


.non-highlighted {
    border: 0px;
    outline: 0px solid;
}

.highlighted {
    border: 0px;
    outline: 3px solid var(--highlight-color);
}

