.vis-timeline {
    font-size: 10px !important;
    border: 0px !important;
    overflow: visible !important;
}

.vis-item.vis-selected {
    box-sizing: border-box !important;
    border: 0px !important;
    outline: 3px solid var(--selected-color) !important;
}
  
.vis-item.vis-point.vis-selected {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
    outline: 0px !important;
}

.vis-item.vis-dot{
    border-width:3px !important;
}

.vis-timeline .vis-labelset .vis-label{
  width: 250px !important;
}

.vis-tooltip {
    background: rgba(0, 0, 0, 0.8) !important;
    color: white !important;
    padding: 5px 8px !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    pointer-events: none !important;
    white-space: nowrap !important;
}

.vis-label .vis-inner {
    font-size: 12px !important;
    min-height: 30px !important;
    display: flex !important;
    align-items: center !important;
}

.vis-timeline, .vis-timeline-frame {
    border: 0px !important;
}

.vis-label {
    width: 202px !important;
    padding-left:100px;
}
