.csv-container {
  display: flex;
}

.csv-container button {
  font-size: 10px;
  font-family: monospace;
  margin: 2px;
}

.csv-list {
  width: 15%;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
}

.csv-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.csv-list li {
  cursor: pointer;
  background-color: var(--primary-bg);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.csv-list li:hover {
  background-color: var(--secondary-bg);
}

.csvTable {
  width: 100%;
  margin-bottom:10px;
  border-collapse: collapse;
}

.csvTable th,
.csvTable td {
  padding: 8px;
  text-align: left;
}

.csvTable th {
  font-weight: bold;
  white-space: nowrap;
  color: white;
  background-color: var(--primary-color);
}

.csvTable td {
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.2s ease;
}

.csvTable tr:nth-child(even) {
  background-color: #f3f3f3;
}

.csvTable tr:hover {
  background-color: var(--hover-color);
}

.csvTable tr {
  transition: background-color 0.2s ease;
}

.csvTable th.sortable::after {
  content: "  "; /* Reserve space for arrow */
  display: inline-block;
  width: 1em;
  text-align: center;
}

.csvTable th.sortable:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.csvTable th.asc::after {
  content: " ▲";
}

.csvTable th.desc::after {
  content: " ▼";
}


.table-container  {
  overflow-x: auto;
  white-space: nowrap;
  width: 85%;
  padding-left: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

.box {
  width: 100%;
  box-shadow: inset 0 0 0 1px var(--border-color);
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  border-radius: 4px;
}

.toggle-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  padding: 1px 4px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  color: #555;
  user-select: none;
  font-weight: bold;
  margin: 3px;
}

.content-box {
  display: none;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-radius: 0 0 4px 4px;
  color: #333;
  font-size: 14px;
}

.content-box.show {
  display: block;
}