#trace-info {
    font-size: 1rem;
    padding: 10px;
    background-color: var(--secondary-bg);
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

table.column {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

table.column th,
table.column td {
    padding: 8px 12px;
    text-align: left;
    border: none;
}

table.column th {
    width: 20%;
    font-weight: bold;
}

table.column tr {
    border-bottom: 1px solid var(--border-color);
}

table.column tr:last-child {
    border-bottom: none;
}

table.two-column {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table.two-column td {
    width: 50%;
    padding: 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.scrollable-column {
    overflow-x: auto;
    max-width: 100%;
}


.indent {
    margin-left: 20px;
}

.key {
    font-weight: bold;
    color: #2a659e;
}

.type {
    color: #3d7a57;
}

.value {
    color: #b5651d;
}