:root {
    --primary-color: #3c6e71;
    --secondary-color: #284b63;
    --text-color-dark: #353535;
    --text-color-light: #fff;
    --primary-bg: #f5f5f5;
    --secondary-bg: #ffffff;
    
    --hover-color: #d0d0d0;
    --border-color: #dee2e6;
    
    --tbl-row-even-color: #fff;
    --tbl-row-odd-color: #f7f6f6;
    
    --highlight-color: #db3232;
    --selected-color: #bcbe10;
    --lvl-1-group-color:#ececec;
    --lvl-2-group-color:#eeeeeeee;
    --lvl-3-group-color:#00000000;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body {
    padding: 15px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
    background-color: var(--primary-bg);
    color: var(--text-color-dark);
}