/* Conteneur des onglets */
.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

/* Boutons des onglets */
.tabs button {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

/* Effet au survol et activation */
.tabs button:hover, .tabs button.active {
    background-color: #ddd;
}

/* Contenu des onglets */
.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: var(--secondary-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Affichage de l'onglet actif */
.tab-content.active {
    display: block;
}