#mainPanel {
  flex-grow: 1;
  overflow: hidden;
}

#grid-container {
    background-color: var(--primary-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    height: 100%;
    box-sizing: border-box;

}

.scrollable-table {
    height: 100%;
    flex: 1;
    overflow: auto;
}

.grid-item {
    background-color: var(--secondary-bg);
    border-radius: 8px;
    padding: 10px;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.table-header {
    padding: 5px;
    padding-left: 10px;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-header:hover {
    background-color: var(--secondary-color) !important;
}

.table-header select {
    border-radius: 4px;
    border: none;
    background-color: var(--secondary-bg);
    font-size: 14px;
}

.grid-item td:first-child {
    font-weight: bold;
}
