.csv-container {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  position: relative;
  padding-left: 10px;
  padding-bottom: 20px;
}

.csv {
  display: flex;
  height: 100%;
}

.csv button {
  font-size: 10px;
  margin: 2px;
  padding: 4px;
}

.csv .pagination {
  text-align: center;
  margin-top: 10px;
}

.top-bar {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 2px;
    margin-bottom: 1em;
}

.top-bar .config-toggle {
    height: 2em;
    width: 2em;
    font-size: 1em;
    cursor: pointer;
}

.top-bar input {
  width: 100%;
  height: 2.5em;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.config-panel {
  margin-bottom: 1em;
  padding: 10px;
}


.csv-table table {
    table-layout: auto;
}
.csv-table th.sortable::after {
  padding-right:10px;
  content: "\00a0\00a0"; /* Reserve space for arrow */
  display: inline-block;
  width: 1em;
  text-align: center;
}

.csv-table th.asc::after {
  content: "\00a0▲";
}

.csv-table th.desc::after {
  content: "\00a0▼";
}

.message button {
  margin: 0;
  padding: 5px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}